{% extends 'base.html' %}

{% load markdownify %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'mealplan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'mealplan_delete' mealplan.id %}">Delete</a>
    </div>
    <h1>{{ mealplan.name }}</h1>
    <p>
      Eat on {{ mealplan.date }} |
    </p>
    
    <h2>Recipes</h2>
    <p>
      {% for recipe in mealplan.recipes.all %}
        <li><a = href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a></li>
      {% endfor %}
    </p>
  </main>
{% endblock content %}