{% extends 'base.html' %}

  {% block content %}
  <main class="recipe-grid">
    {% for recipe in recipe_list %}
    <div class="recipe-card">
      <h2 class="recipe-card-title">
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </h2>
      <p class="recipe-card-date">{{ recipe.updated }}</p>
    </div>
    {% endfor %}
  </main>
  {% endblock content %}


  {% block pagination %}
  <footer>
    <span>
      {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <span>
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
      {% endif %}
    </span>
  </footer>
  {% endblock pagination %}
